<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>This is index.html</h1>
	<table th:if="${studentList !=null AND studentList !=''}">
		<tr>

			<th>Name</th>
		</tr>
		<tr th:each="s : ${studentList}">
			<td th:text="${s.id}">5</td>
			<td th:text="${s.name}">Frank</td>
		</tr>
	</table>
	<hr>
	<form method="post" action="" th:action="@{/insertStudent}"
		th:object="${student}">
		<input type="hidden" name="id" th:field="*{id}" /> Name: <input
			type="text" name="name" th:field="*{name}" /><br> <input
			type="submit" value="Go!" />
	</form>


</body>
</html>