<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>This is index.html!!!</h1>
	<p>Please fill out this form!</p>
	<form method="post" action="/formPost">
		 First Name:<input type="text" name="firstName" /><br>
		 Last Name:<input type="text" name="lastName" /><br> 
		 Email: <input type="email"name="email" /><br> 
		 Day: <input type="date"name="appointmentDate" /><br> 
		 Time: <input type="time"name="appointmentTime" /><br>
		  <input type="submit" value="Go!" />
	</form>
</body>
</html>