<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>This is index.html!!!</h1>
	<p>Please fill out this form!</p>
	<form method="post" action="/formPost">
		ScienceCourse :<input type="text" name="scienceCourse" /><br>
		 ScienceCourseNum:<input type="number" name="scienceCourseNum" /><br> 
		 MathCourse :<input type="text" name="mathCourse" /><br>
		 MathCourseNum:<input type="number" name="mathCourseNum" /><br>
		  <input type="submit" value="Go!" />
	</form>
</body>
</html>